<div class="features-color-container" id="#features" name="#features">
    <div class="features-container">
        <div class="features-content">
            <div class="text">
                This is a template<br/> for young front-end<br/> developers to show<br/> themselves
            </div>
        </div>

        <div class="features-content">
            <div class="icon">
                 <img src="../../../assets/sys-images/iconmonstr-cloud-3-icon.svg" />
            </div>
            <div class="txt-cont">
                <div class="title">Awesome</div>
                <div class="itext"> Lorem ipsum dolor sit amet consequet adilipsinc elit el mana del toro lorem ipsum dolor sit amet.</div>
            </div>
            <div class="icon">
                 <img src="../../../assets/sys-images/iconmonstr-check-mark-7-icon.svg" />
            </div>
            <div class="txt-cont">
                <div class="title">Cool</div>
                <div class="itext"> Lorem ipsum dolor sit amet consequet adilipsinc elit el mana del toro lorem ipsum dolor sit amet.</div>
            </div>
             <div class="icon">
                 <img src="../../../assets/sys-images/heart.svg" />
            </div>
            <div class="txt-cont">
                <div class="title">Incredible</div>
                <div class="itext"> Lorem ipsum dolor sit amet consequet adilipsinc elit el mana del toro lorem ipsum dolor sit amet.</div>
            </div>            
        </div>       

        <div class="features-content">
            <div class="icon">
                 <img src="../../../assets/sys-images/iconmonstr-calendar-4-icon.svg" />
            </div>
            <div class="txt-cont">
                <div class="title">Great</div>
                <div class="itext"> Lorem ipsum dolor sit amet consequet adilipsinc elit el mana del toro lorem ipsum dolor sit amet.</div>
            </div>
            <div class="icon">
                 <img src="../../../assets/sys-images/iconmonstr-blank-file-3-icon.svg" />
            </div>
            <div class="txt-cont">
                <div class="title">Inspiring</div>
                <div class="itext"> Lorem ipsum dolor sit amet consequet adilipsinc elit el mana del toro lorem ipsum dolor sit amet.</div>
            </div>
            <div class="icon">
                 <img src="../../../assets/sys-images/iconmonstr-bell-2-icon.svg" />
            </div>
            <div class="txt-cont">
                <div class="title">Surprising</div>
                <div class="itext"> Lorem ipsum dolor sit amet consequet adilipsinc elit el mana del toro lorem ipsum dolor sit amet.</div>
            </div>            
        </div>
    </div>
</div>