<div class="gallery-color-container">
    <div class="gallery-container" id="#gallery">
        <div class="gallery-image">
            <img src="../../../assets/images/1.jpg" />
        </div>
        <div class="gallery-image">
            <img src="../../../assets/images/2.jpg" />
        </div>
        <div class="gallery-image">
            <img src="../../../assets/images/3.jpg" />
        </div>
        <div class="gallery-image">
            <img src="../../../assets/images/4.jpg" />
        </div>
        <div class="gallery-image">
            <img src="../../../assets/images/5.jpg" />
        </div>
        <div class="gallery-image">
            <img src="../../../assets/images/6.jpg" />
        </div>
        <div class="gallery-image">
            <img src="../../../assets/images/1.jpg" />
        </div>
        <div class="gallery-image">
            <img src="../../../assets/images/2.jpg" />
        </div>
    </div>
    <div class="gallery-people-container">
        <div class="people-cont">
            <img src="../../../assets/sys-images/p1.png" />
            <div class="people-text">Lorem ipsum dolor sit amet consequet<br/> adilipsinc elit el mana del toro<br/> lorem ipsum dolor sit amet.</div>
            <div class="people-name">Steve Cook</div>
        </div>
        <div class="people-cont">
            <img src="../../../assets/sys-images/p2.png" />
            <div class="people-text">Lorem ipsum dolor sit amet consequet adilipsinc<br/> elit el mana del toro<br/> lorem ipsum dolor sit amet.</div>
            <div class="people-name">Johnatan Ford</div>
        </div>
        <div class="people-cont">
            <img src="../../../assets/sys-images/p3.png" />
            <div class="people-text">Lorem ipsum dolor sit amet consequet adilipsinc elit<br/> el mana del toro<br/> lorem ipsum dolor sit amet.</div>
            <div class="people-name">James Smith</div>
        </div>
    </div>
</div>