<footer>
    <div class="footer-container">
        <div class="footer-content">
            <div class="footer-title">The Intern</div>
            <div class="text">Lorem ipsum dolor sit amet consequet adilipsinc elit<br/> el mana del toro lorem ipsum dolor sit amet.</div>
        </div>
        <div class="footer-content">
            <div class="footer-nav">
                <div class="title">About</div>
                <div class="text">Lorem ipsum</div>
                <div class="text">dolor sit</div>
                <div class="text">amet consequet</div>
                <div class="text">adilipsinc</div>
            </div>
            <div class="footer-nav">
                <div class="title">Features</div>
                <div class="text">Lorem ipsum</div>
                <div class="text">dolor sit</div>
                <div class="text">amet consequet</div>
                <div class="text">adilipsinc</div>
                <div class="text">dolor sit</div>
                <div class="text">amet consequet</div>
                <div class="text">adilipsinc</div>
            </div>
            <div class="footer-nav">
                <div class="title">About</div>
                <div class="text">Lorem ipsum</div>
                <div class="text">dolor sit</div>
                <div class="text">amet consequet</div>
                <div class="text">adilipsinc</div>
            </div>
            <div class="footer-nav">
                <div class="title">About</div>
                <div class="text">Lorem ipsum</div>
                <div class="text">dolor sit</div>
                <div class="text">amet consequet</div>
            </div>
        </div>
    </div>
</footer>