<div class="contact-color-container" id="#contact">
    <div class="contact-container">
        <div class="contact-content">
            <div class="text">
                This is an example<br/> contact form with<br/> custom elements<br/>
            </div>
        </div>
        <div class="contact-content">
            <form>
                <input type="text" name="user-firstname" id="user-fn" placeholder="First Name">

                <input type="text" name="user-lastname" id="user-ln" placeholder="Last Name">

                <input type="text" name="user-email" id="user-eml" placeholder="E-mail">

                <select name="country" id="country" placeholder="Country">
        <option value="Turkey">Turkey</option>
        <option value="USA">USA</option>
        <option value="Norway">Norway</option>
    </select>
                <textarea rows="5" cols="30" name="message" id="message" placeholder="Message"></textarea><br/>
                <input type="submit" id="btn-contact-form" value="Send" />
            </form>
        </div>
    </div>
</div>