<nav>
    <div class="nav-container">
        <a href="#" class="logo">The Intern</a>
    <ul class="left">
        <li>
            <a [routerLink]="home/contact">CONTACT</a>
        </li>
        <li>
            <a [routerLink]="gallery">TESTIMONIAL</a>
        </li>
        <li>
            <a [routerLink]="gallery">GALLERY</a>
        </li>
        <li>
            <a [routerLink]="features">FEATURES</a>
        </li>
        <li>
            <a href="#">HOME</a>
        </li>
    </ul>   
    </div>
</nav>