<div class="home-color-container" id="#home">
    <div class="home-container">
        <div class="home-content">
            <div class="home-title">
                Let's Rock!
            </div>
            <div class="home-text">
                Lorem ipsum dolor sit amet consequet adilipsinc<br/> elit el mana del toro lorem ipsum dolor sit amet.
            </div>
        </div>
        <div class="home-content">
            <div class="home-img">
                <img src="..\..\..\assets\sys-images\rock.svg" />
            </div>
        </div>
    </div>
</div>
<c-features></c-features>

<c-gallery></c-gallery>

<c-contact></c-contact>